body{
    background-image: url(../img/desktop-wallpaper-login-screen-backgrounds-761252-login.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;

}

.container{
    border: 1px solid black;
    background-color: white;
    width: 1292px;
    height: 1150px;
    margin: auto;
    border-radius: 12px;
}

.container h1{
text-shadow: 2px 2px 2px red;
font-size: 60px;
}

.container h2 {
    font-size: 25px;
    border-radius: 5px;
    padding: 12px;
   background-color: rgba(221, 207, 11, 0.692);
  
}



.container h3{
    font-size: 25px;
    border-radius: 5px;
    padding: 12px;
   background-color: rgba(221, 207, 11, 0.692);
}

.container p{
    padding-left: 10px;
    font-size: 32px;
}

form{
    display: inline-block;
    padding-left: 12px;
    
}


.int{
    width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

textarea{
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}